<h1>index</h1>
<% @books.each do |book| %>
  <div><%= book.title %></div>
  <div><%= book.description %></div>
  <div><%= book.author %></div>
  <div></div>
  <div></div>
<% end %>

<%= link_to 'Add Book', new_book_path %>

